extends layout.pug

block content
  div.row
    div.col-md-6.order-md-last.text-center
      img.photo.img-fluid(src='https://melody-reebs.s3.amazonaws.com/me.png')
      p.photo-caption this is what i look like.
    div.col-md-6
      h2 briefly
      p <b>name:</b> melody reebs
      p <b>location:</b> 
        a(href='http://en.wikipedia.org/wiki/Albany,_California', target='_blank') albany, CA
      p <b>what i do:</b> transportation planning, web development, information design
      
      h2 work experience
      p 
        a(href='http://countyconnection.com/', target='_blank') county connection
        | , 2018 &ndash; present
        br 
        | manager of planning
      p 
        a(href='http://marintransit.org/', target='_blank') marin transit
        | , 2012 &ndash; 2018
        br 
        | senior transit planner
      p 
        a(href='http://cdmsmith.com/', target='_blank') wilbur smith associates
        | , 2008 &ndash; 2011
        br 
        | transportation planner

      h2 education
      p 
        a(href='https://oregonstate.edu/', target='_blank') oregon state university
        | , 2018 &ndash; 2020
        br 
        | BS computer science
      p 
        a(href='http://berkeley.edu/', target='_blank') university of california, berkeley
        | , 2008 &ndash; 2009
        br 
        | MS transportation engineering
      p 
        a(href='http://berkeley.edu/', target='_blank') university of california, berkeley
        | , 2004 &ndash; 2007
        br 
        | BS civil engineering
        br
        | city and regional planning, minor

  h2 skills &amp; tools i use
  div.row
    div.col-md-3.col-sm-6
      h3 web development
      ul.list-unstyled
        li
          a.badge.badge-secondary(href='/portfolio?tag=HTML') HTML
        li 
          a.badge.badge-secondary(href='/portfolio?tag=CSS') CSS
        li 
          a.badge.badge-secondary(href='/portfolio?tag=javascript') javascript
        li 
          a.badge.badge-secondary(href='/portfolio?tag=jquery') jquery
        li 
          a.badge.badge-secondary(href='/portfolio?tag=node.js') node.js
        li
          a.badge.badge-secondary(href='/portfolio?tag=express') express
        li 
          a.badge.badge-secondary(href='/portfolio?tag=drupal') drupal
        li 
          a.badge.badge-secondary(href='/portfolio?tag=bootstrap') bootstrap
        li 
          a.badge.badge-secondary(href='/portfolio?tag=pug.js') pug.js
        li 
          a.badge.badge-secondary(href='/portfolio?tag=handlebars.js') handlebars.js
        li 
          a.badge.badge-secondary(href='/portfolio?tag=react') react
        li 
          a.badge.badge-secondary(href='/portfolio?tag=PHP') PHP
    div.col-md-3.col-sm-6
      h3 design + maps
      ul.list-unstyled
        li adobe 
          a.badge.badge-secondary(href='/portfolio?tag=illustrator') illustrator
        li adobe 
          a.badge.badge-secondary(href='/portfolio?tag=indesign') indesign
        li adobe photoshop
        li 
          a.badge.badge-secondary(href='/portfolio?tag=sketch') sketch
        li 
          a.badge.badge-secondary(href='/portfolio?tag=arcGIS') arcGIS
        li 
          a.badge.badge-secondary(href='/portfolio?tag=google%20maps%20API') google maps API
        li 
          a.badge.badge-secondary(href='/portfolio?tag=mapbox.js') mapbox.js
        li 
          a.badge.badge-secondary(href='/portfolio?tag=leaflet') leaflet
        li google earth
        li sketchup
        li autoCAD
    div.col-md-3.col-sm-6
      h3 data + programming
      ul.list-unstyled
        li microsoft 
          a.badge.badge-secondary(href='/portfolio?tag=excel') excel
          | &nbsp;+ VBA
        li microsoft access
        li 
          a.badge.badge-secondary(href='/portfolio?tag=SQL') SQL
        li C/C++
        li python
        li MATLAB
        li git + github
    div.col-md-3.col-sm-6
      h3 transportation
      ul.list-unstyled
        li GTFS
        li CAD/AVL + APCs
        li GFI genfare + AFC
        li schedule masters (TMS)
        li transtrack
        li ridecheck plus
        li syncro + simtraffic

  a(href='https://melody-reebs.s3.amazonaws.com/ReebsM_Resume.pdf', target='_blank')
    button.btn.btn-light
      i.fa.fa-arrow-circle-down.pr-2
      | Download resume