doctype html
html(lang='en')
  head
    // Meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=no')

    // Favicon
    link(rel='icon', type='image/x-icon', href='https://melody-reebs.s3.amazonaws.com/favicon.ico')

    title melody reebs

    // Stylesheets
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    link(href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
    link(rel='stylesheet', href='/css/styles.css')

  body
    div.container
      // Header
      div.text-right.float-right.float-sm-none.pb-3
        a.home-link(href='/') melody reebs

      // Nav
      nav.navbar.navbar-expand-sm
        div.navbar-toggler.fa.fa-bars(data-toggle='collapse', data-target='#nav', aria-controls='nav', aria-expanded='false')
        div.collapse.navbar-collapse(id='nav')
          ul.navbar-nav
            li.nav-item
              a.nav-link(href='/about', class={active: page == 'about'}) about
            li.nav-item
              a.nav-link(href='/portfolio', class={active: page == 'portfolio'}) portfolio
            li.nav-item
              a.nav-link(href='/contact', class={active: page == 'contact'}) contact

      // Content
      block content

    // Scripts
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
    script(src='/js/scripts.js')